*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    
    
}

#sec{
border: 8px solid black;
height: 100vh;


}

#canvas{
    height: 500px;
    width: 500px;
    background-color: rgb(46, 46, 104);
    position: absolute;
    left: 30%;
    border: 5px solid white;
    

}

#score{
    text-align: center;
    font-size: 50px;
    color: white;
    height: 50px;
    box-sizing: border-box;
}